
  <header>
    <div class="heading">
      <h1 class="title">WhiteGate</h1>
    </div>

    <div id="siteinfo" class="navbar">
    <div class="inner-section">
    <div class="siteinfo-menu left">

      <ul class="clearfix">
      
      
    <li>
      <a id="wh_info_top" class="current" href="">
      <span>インタビュー</span>
     </a>
   </li>
    
    <li>
      <a id="wh_info_top" class="current" href="">
     <span>コラム</span>
     </a>
   </li>
    
    <li>
      <a id="wh_info_top" class="current" href="">
     <span>学問</span>
     </a>
   </li>
    
    <li>
      <a id="wh_info_top" class="current" href="">
     <span>海外</span>
     </a>
   </li>
    
    <li>
      <a id="wh_info_top" class="current" href="">
      <span>多摩情報</span>
     </a>
   </li>
    
     </ul>
    </div>
  </header>
<div class="contents clearfix">
    <div class="left-content">
    </div>

    <div class="right-content">
    </div>
  </div>

  <footer>
  </footer>
</body>